header{
    height: 20px;
    display:flex;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0px 1px 5px ;
    background-color: #040E24;
}

header > nav > a{
    color: white;
    text-decoration: none;
    margin: 0px 10px;
}

